<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons-1.10.5/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Список всех заданий</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header::header"></header>
    <div class="container">
        <nav class="nav nav-pills nav-justified">
            <a class="nav-link" th:href="@{/tasks}">Все задания</a>
            <a class="nav-link" th:href="@{/tasks/done}">Выполненные задания</a>
            <a class="nav-link" th:href="@{/tasks/undone}">Новые задания</a>
        </nav>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Статус</th>
                <th scope="col">Имя</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td style="width: 70px; text-align: center;">
              <span th:if="${task.done}">
                <i class="bi bi-check-square"></i>
              </span>
                    <span th:if="${!task.done}">
                  <i class="bi bi-square"></i>
              </span>
                </td>
                <td>
                    <a th:text="${task.title}" th:href="@{/tasks/{id}(id=${task.id})}"></a>
                </td>
                <td th:text="${#temporals.format(task.created, 'HH:mm dd-MM-yyyy')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="mb-3 row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4"><a class="btn btn-secondary w-100" th:href="@{/tasks/create}">Добавить
                        задание</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer th:insert="blocks/footer::footer"></footer>
    </div>
</div>
</body>
</html>