<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-icons-1.10.5/bootstrap-icons.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>Подробное описание задания</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header::header"></header>
    <div class="container">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td style="width: 70px; text-align: center;">
              <span th:if="${task.done}">
                <i class="bi bi-check-square"></i>
              </span>
                    <span th:if="${!task.done}">
                  <i class="bi bi-square"></i>
              </span>
                </td>
                <td style="width: 200px;" th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
            </tr>
            </tbody>
        </table>
        <div class="mb-3 row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4" th:if="${!task.done}">
                        <a class="btn btn-outline-success w-100"
                           th:href="@{/tasks/updateDone/{id}(id=${task.id})}">Выполнено</a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-outline-info w-100"
                           th:href="@{/tasks/duplicate/{id}(id=${task.id})}">Редактировать</a></div>
                    <div class="col-4">
                        <a class="btn btn-outline-danger w-100"
                           th:href="@{/tasks/delete/{id}(id=${task.id})}">Удалить</a></div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>