<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/index}">TodoList</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" th:href="@{/tasks}">List all tasks</a>
                </div>
            </div>
            <div class="nav justify-content-end">
                <div class="nav-item">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Registration</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/login}">Login</a>
                </div>
            </div>
        </div>
    </nav>
</div>